body {
  background-color: #000000;
}

.container {
  background-color: #ffffff;
  width: 60%;
  height: 620px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

hr {
    height: 4px;
}

.chat-input-box {
  height: 5%;
  background-color: #ffffff;
}

#chat-output {
  margin-top:10px;
  margin-bottom:10px;
  height: 80%;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius:10px;
  padding: 20px;
  overflow: auto;
}

#user-input-text {
  width: 88%;
  height: 25px;
  padding-left:3px;
  padding-right:3px;
  border-radius:10px;
}

#user-input-button {
  width: 10%;
  height: 30px;
  background-color: #00004c;
  color: white;
  border-radius:10px;
}
